<!DOCTYPE html>
<html xmlns:th="htt://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>

<h3  th:text="${titulo}"></h3>
<form th:action="@{/form}" method="post" th:object="${usuario}">
	<div>
		<label for="pais.id">País</label>
		<div>
			<select type="text"  id="pais" th:field="*{pais.id}" >
				<option value="">--seleccionar--</option>
				<option th:each="pais: ${listaPaises}" th:text="${pais.nombre}" th:value="${pais.id}"></option>
			</select>
		</div>
		<div th:if="${#fields.hasErrors('pais.id')}" th:errors="*{pais.id}" ></div>		
	</div>
	<div>
		<label for="nombre">Nombre</label>
		<div>
			<input type="text"  id="nombre" th:field="*{nombre}" />
		</div>
		<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" ></div>
	</div>
	<div>
		<label for="apellido">Apellido</label>
		<div>
			<input type="text"  id="apellido" th:field="*{apellido}" />
		</div>
		<div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" ></div>
	</div>
	<div>
		<label for="username">User name</label>
		<div>
			<input type="text"  id="username" th:field="*{username}" />
		</div>
		<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" ></div>
		<!--  <div th:if="${error != null && error.containsKey('username')}" th:text="${error.get('username')}"></div>-->
	</div>
	<div>
		<label for="password">Password</label>
		<div>
			<input type="password"  id="password"  th:field="*{password}" />
		</div>
		<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" ></div>
		<!--  <div th:if="${error != null && error.containsKey('password')}" th:text="${error.get('password')}"></div>-->
	</div>
	<div>
		<label for="Email">Email</label>
		<div>
			<input type="text"  id="email" th:field="*{email}" />
		</div>
		<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></div>
		<!--  <div th:if="${error != null && error.containsKey('email')}" th:text="${error.get('email')}"></div>-->
	</div>
	<div>
		<label for="identificador">Identificador</label>
		<div>
			<input type="text"  id="identificador" th:field="*{identificador}" />
		</div>
		<div th:if="${#fields.hasErrors('identificador')}" th:errors="*{identificador}" ></div>		
	</div>
	<div>
		<label for="cuenta">Cuenta</label>
		<div>
			<input type="number"  id="cuenta" th:field="*{cuenta}" />
		</div>
		<div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}" ></div>
	</div>
	<div>
		<label for="fechaNacimiento">Fecha</label>
		<div>
			<input type="date"  id="fechaNacimiento" th:field="*{fechaNacimiento}" placeholder="yyyy/MM/dd"/>
		</div>
		<div th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}" ></div>
	</div>
	<div>
		<div>
			<input type="submit" value="Enviar" />
		</div>
	</div>
	
</form>
</body>
</html>